/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 200px;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
  height: calc(100vh - 75px);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  top:75px;
}
.navigation.active {
  width: 80px;
}
.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left:0px !important
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}
.icon{
  float: left;
  padding:'0px 10px'
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 1.2rem;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
 /*  to disable make hover on elements*/
  pointer-events: none;
}

/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 200px);
  left: 200px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
  padding-top: 80px;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  color: #2a2185;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}

.search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2rem;
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ======================= Cards ====================== */
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: inline-block;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.cardBox .card {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--blue);
}

.cardBox .card .cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardBox .card .iconBx {
  font-size: 3.5rem;
  color: var(--black2);
}

.cardBox .card:hover {
  background: var(--blue);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: var(--white);
}

/* ================== Order Details List ============== */
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  /* margin-top: 10px; */
}

.details .recentOrders {
  position: relative;
  display: grid;
  min-height: 500px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.details .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader h2 {
  font-weight: 600;
  color: var(--blue);
}
.cardHeader .btn {
  position: relative;
  padding: 5px 10px;
  background: var(--blue);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.details table thead td {
  font-weight: 600;
}
.details .recentOrders table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentOrders table tr:last-child {
  border-bottom: none;
}
.details .recentOrders table tbody tr:hover {
  background: var(--blue);
  color: var(--white);
}
.details .recentOrders table tr td {
  padding: 10px;
}
.details .recentOrders table tr td:last-child {
  text-align: end;
}
.details .recentOrders table tr td:nth-child(2) {
  text-align: end;
}
.details .recentOrders table tr td:nth-child(3) {
  text-align: center;
}
.status.delivered {
  padding: 2px 4px;
  background: #8de02c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.pending {
  padding: 2px 4px;
  background: #e9b10a;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.return {
  padding: 2px 4px;
  background: #f00;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.inProgress {
  padding: 2px 4px;
  background: #1795ce;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.recentCustomers {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  background: var(--white);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.recentCustomers .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
}
.recentCustomers .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recentCustomers table tr td {
  padding: 12px 10px;
}
.recentCustomers table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2rem;
}
.recentCustomers table tr td h4 span {
  font-size: 14px;
  color: var(--black2);
}
.recentCustomers table tr:hover {
  background: var(--blue);
  color: var(--white);
}
.recentCustomers table tr:hover td h4 span {
  color: var(--white);
}

/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    /* left: 300px; */
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 540px) and (max-width: 912px) {
  
  .navigation.active {
    width: 200px;
    left: 0;
  }
  .main.active {
    left: 200px;
  }
}


@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}

.selected {
  background: linear-gradient(90deg, #ff389f -100%, #ff7800);
  pointer-events: visible;
  opacity: 0.9; /* Adjust the opacity for the soft selected effect */
  transition: opacity 0.3s ease; /* Add a transition for opacity */
}

.selected::before,
.navigation ul li.selected a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px #ff730c;
  pointer-events: none;
  z-index: 1000;
}

.selected::after,
.navigation ul li.selected a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px #ff730c;
  pointer-events: none;
}

/* Add transition for the pseudo-elements */
.selected::before, 
.selected::after {
  transition: box-shadow 0.3s ease; /* Add a transition for box-shadow */
}

.dropdown-menu[data-bs-popper] {
  top: 100%;
  right: 0px !important;
  left: auto !important;
  margin-top: .125rem;
}
.bg-light{
  background: linear-gradient(135deg, #ff389f59 -11%, #ff780054) !important;
}



/* ********************************loading style**************************** */
.containerLoadin{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.ring{
  width: 200px;
  height: 200px;
  border: 0px solid black;
  border-radius: 50%;
  position: absolute;
}
.ring:nth-child(1){
  border-bottom-width: 8px;
  border-color: rgb(255 68 127);;
  animation: rotate1 2s linear infinite;
}
.ring:nth-child(2){
  border-right-width: 8px;
  border-color: rgb(0, 247, 255);
  animation: rotate2 2s linear infinite;
}
.ring:nth-child(3){
  border-top-width: 8px;
  border-color: rgb(255 181 1);;
  animation: rotate3 2s linear infinite;
}
.loading{
  color: black;
}

@keyframes rotate1 {
  0%{
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100%{
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }            
}
@keyframes rotate2 {
  0%{
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100%{
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }            
}
@keyframes rotate3 {
  0%{
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100%{
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }            
}


.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 300px !important;
}

.go2392553372{
  display: inline-block !important;
  width: 100%;
}

@media (min-width: 375px) and (max-width: 912px) {
  .go2392553372{
    display: contents !important;
    width: 100%;
  }
  
}
.go3842760039:before {
  content: "•";
  color: white;
  background: linear-gradient(135deg,#ff389f -11%,#ff7800) !important;
}

.go2150698616:before {
  position: relative;
  float: left;
  left: 45% !important;
  width: 3em !important;
  line-height: 3em !important;
  border-radius: 50%;
  bottom: -3.5rem !important;
}
.go433304200:before {
  content: "✓";
  color: white;
  background: linear-gradient(204deg, #7d3e96e5 20%, #a2307ed8)  !important;
}
.go2150698616 {
  display: inline-block;
  text-align: center;
  line-height: 4.8rem;
  padding: 0 0.7rem;
  cursor: pointer;
  min-width: 10rem !important ;
  color: silver;
  border-bottom: 2px solid silver;
  margin-bottom: 2rem;
}

.auth-form button {
  background: linear-gradient(204deg, #7d3e96e5 20%, #a2307ed8)  !important;
  color: white;
  cursor: pointer;
  width: 20%;
}

.columns label{
  margin: 0px 5px;
}
.container_form{
  text-align: justify;
  line-height: 2.5rem;
}

.tabs {
  display: flex;
}

.tab {
  padding: 10px 15px;
  cursor: pointer;
}

.tab.active {
  background-color: #f0f0f0;
}

.tab-content {
  margin-top: 10px;
  padding: 30px;
}
.check_submit{
  width: 100%;
  margin-top: 35px;
  height: 45px;
}

.dropdown-content a:hover{
  pointer-events:visible;
  font-size: 1rem;
  color: white !important;
  margin: 0px 5px;
}
.dropdown-content a:last-child:hover {
  border-radius: 20px;
}

.link-selected{
  color:#2a2185 !important;
  font-size: 1rem !important;
  margin: 0px 5px;
  
}
/* //////////////////////// */

:root {
  --border-radius: 8px;
  --speed: 500ms;
}
.menu-trigger img{
  position: absolute !important;
  top: 10px !important;
  right: 20px !important;
  width: 35px !important;
  overflow: hidden !important;
  cursor: pointer !important;
}

.dropdown-menus{
  position: absolute !important;
  top: 100px !important;
  right: 20px !important;
  background-color: #fff !important;
  border-radius: var(--border-radius) !important;
  padding: 10px 10px !important;
  width: 200px !important;
  box-shadow: 0 2px 20px rgb(0 0 0 / 27%); 
  font-size: 0.9rem;
}
.dropdown-menus h3{
  font-size: 20px;
  margin:  0px 20px;
}
.dropdown-menus h3 span{
  font-size: 15px !important;
  color:rgb(197, 196, 196) !important;
}

.dropdown-menus::before{
  content: '' !important;
  position: absolute !important;
  top: -5px !important;
  right: 20px !important;
  height: 20px !important;
  width: 20px !important;
  background: var(--secondary-bg) !important;
  transform: rotate(45deg) !important;
}

.dropdown-menus.active{
  opacity: 1 !important;
  visibility: visible !important;
  transform: translateY(0) !important;
  transition: var(--speed) ease !important;
}

.dropdown-menus.inactive{
  opacity: 0 !important;
  visibility: hidden !important;
  transform: translateY(-20px) !important;
  transition: var(--speed) ease !important;
}

h3 span{
  font-size: 14px !important;
  color: var(--secondary-text-color) !important;
  font-weight: 400 !important;
}

.dropdown-menus ul li{
  padding: 10px  0 !important;
  border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.dropdown-menus ul li:hover a{
  color: #ffc107 !important;
  cursor: pointer !important;
}

.dropdown-menus ul li:hover span{
  opacity: 1 !important;
  cursor: pointer !important;
}

.dropdownItem{
  display: flex !important;
  margin: 10px auto !important;
}

.dropdownItem img{
  max-width: 20px !important;
  margin-right: 10px !important;
  opacity: 0.5 !important;
  transition: var(--speed) !important;
}

.dropdownItem a{
  max-width: 100% !important;
  margin-left: 0px !important;
  transition: var(--speed) !important;
}









